@import "src/styles/_variables.scss";

.rate-item-card, .quote-item-card {
  color: var(--gray-400);
  box-shadow: $box-shadow-sm;
  transition: box-shadow 0.25s ease-in-out;
  padding: 20px;
  margin-bottom: 10px;

  svg {
    width: 32px;
    height: auto;
  }

  .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    color: var(--gray-500);
  }

  .body {
    font-weight: 300;
    line-height: 19px;
  }

  .actions {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s, opacity 0.25s ease-in-out;

    svg {
      width: 18px;
      cursor: pointer;
    }
  }

  &:hover {
    box-shadow: $box-shadow;
    transition: box-shadow 0.25s ease-in-out;

    .actions {
      transition: visibility 0.25s, opacity 0.25s ease-in-out;
      visibility: visible;
      opacity: 1;
    }

    .actions svg {
      color: var(--gray-400);
    }
  }
}

.rate-item-card {
  .icon svg {
    width: 47px
  }

  &__attribute {
    border-bottom: 1px solid var(--light);

    &:last-of-type {
      border-bottom: 0px;
    }
  }

  .vehicle-coverage {
    &__icon {
      width: 1.25rem;

      svg {
        width: 100%
      }
    }
  }

  .price-container {
    &__price {
      color: var(--gray-600);
      font-size: 75px;
      line-height: 1;

      &.quote-price {
        font-size: 100px;
        font-weight: 300;
      }

      sup {
        top: -33%;
      }
    }

    &__dollar {
      font-size: 30px;
      font-weight: 100;
    }

    &__text {
      font-size: initial;
    }
  }
}
