@import "src/styles/_variables.scss";

.rate-item-card, .quote-item-card {
  color: var(--gray-400);
  box-shadow: $box-shadow-sm;
  transition: box-shadow 0.25s ease-in-out;
  padding: 20px;
  margin-bottom: 10px;

  svg {
    width: 32px;
    height: auto;
  }

  .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    color: var(--gray-500);
  }

  .body {
    font-weight: 300;
    line-height: 19px;
  }

  .actions {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s, opacity 0.25s ease-in-out;

    svg {
      width: 18px;
      cursor: pointer;
    }
  }

  &:hover {
    box-shadow: $box-shadow;
    transition: box-shadow 0.25s ease-in-out;

    .actions {
      transition: visibility 0.25s, opacity 0.25s ease-in-out;
      visibility: visible;
      opacity: 1;
    }

    .actions svg {
      color: var(--gray-400);
    }
  }
}

.rate-item-card {
  padding: 40px;

  .coverage-graph-item {
    span {
      color: #666666;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      vertical-align: middle;
    }

    svg {
      display: inline-block;
      margin-right: 8px;
      height: 26px;
      width: 26px;
    }
  }

  .icon svg {
    width: 47px
  }

  .title {
    font-size: 20px;
    color: var(--gray-600);
  }

  &__attribute {
    border-bottom: 1px solid var(--light);

    &:last-of-type {
      border-bottom: 0px;
    }
  }

  .vehicle-coverage {
    &__icon {
      width: 1.25rem;

      svg {
        width: 100%
      }
    }
  }

  .price-container {
    &__price {
      color: var(--gray-600);
      font-size: 75px;
      line-height: 1;

      &.quote-price {
        font-size: 100px;
        font-weight: 300;
      }

      sup {
        top: -33%;
      }
    }

    &__dollar {
      font-size: 30px;
      font-weight: 100;
    }

    &__text {
      color: #959D9A;
      font-size: initial;
      font-weight: 300;
      line-height: 1.3;
      margin-bottom: 8px;
    }
  }

  .price-fees {
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2.5rem;
  }
}
