.modal-lg {
	max-width: 650px;
}

.modal-content {
	// height: 300px;
}

.modal-body {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	p {
		margin: 0px;
		max-width: 500px;
	}
}
