@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import 'variables';
@import '~bootstrap/scss/mixins';
@import 'mixins';
// @import '~bootstrap/scss/root';
@import 'root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
// @import '~bootstrap/scss/images';
// @import '~bootstrap/scss/code';
@import '~bootstrap/scss/grid';
// @import '~bootstrap/scss/tables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
// @import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
// @import '~bootstrap/scss/card';
// @import '~bootstrap/scss/breadcrumb';
// @import '~bootstrap/scss/pagination';
// @import '~bootstrap/scss/badge';
// @import '~bootstrap/scss/jumbotron';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/progress';
// @import '~bootstrap/scss/media';
// @import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/close';
// @import '~bootstrap/scss/toasts';
// @import '~bootstrap/scss/modal';
// @import '~bootstrap/scss/tooltip';
// @import '~bootstrap/scss/popover';
// @import '~bootstrap/scss/carousel';
@import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/utilities';
// @import '~bootstrap/scss/print';

html, body, #root {
  height: 100%;
}

.btn-lg, .btn-sm {
  &.disabled, &:disabled {
    background-color: gray('400');
    border-color:     gray('400');
  }
}

@each $color, $value in $theme-colors {
  @include btn-custom($color)
}


label {
  color: gray('500');
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 20px;
}

.form-control {
  &:focus {
    box-shadow: none;
    border-color: theme-color('accent')
  }
}

// Alert
.alert {
  top: 20px;
  position: absolute;
  z-index: 9;

  svg {
    vertical-align: top;
  }
}

.form-errors {
  background-color: color('lighter-red');

  path {
    fill: theme-color('danger')
  }
  rect {
    fill: color('lighter-red')
  }
}

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include custom-alert-variant($value, $value, $white);
  }
}
@debug "divider offset: #{$alert-bg-level}";

// @each $color, $value in $colors {
//   .alert-#{$color} {
//     // @include custom-alert-variant($value, $value, $white);
//     @include custom-alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
//   }
// }

.header {
  &-container {
      max-width: 1800px;
  }

  &-row {
    @media (min-width: 992px) {
      height: 100px;
    }
  }
}

.custom-progress-bar {
  @media (min-width: 992px) {
    max-width: 650px;
  }
}

input::placeholder {
  color: $custom-gray-200;
}
