$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: true;
@import '~bootstrap/scss/mixins/transition';

.custom-radio-container {
  padding: 15px 20px;
  border: 1px solid var(--gray-300);
  cursor: pointer;

  &.selected {
    background-color: #197bbd;
    color: white;
  }

  &-inline {
    margin-right: 1rem;
    flex-grow: 1;
  }

  .custom-control-label {
    font-weight: normal;
    cursor: pointer;
    line-height: 24px;
  }

  .custom-control-label:before {
    @include transition(all .25s ease-in);
    background-color: var(--gray-100);
    border: 1px solid var(--gray-300);
    height: 20px;
    width: 20px;
    top: 2px;
  }

  .custom-control-label:after {
    content: none;
  }

  .custom-control-input:checked + .custom-control-label {
    color: white;

    &::before {
      @include transition(all .25s ease-in);
      background-color: var(--secondary);
      border-width: 5px;
      border-color: var(--gray-100);
    }
  }
}

